# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Testing
.pytest_cache/
coverage/
htmlcov/

# IDEs and Editors
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
migrations/__pycache__/

# AgentMd
AGENTS.md